body {
    background-color: #000000;
    overflow: hidden;
}

/* https://fonts.google.com/?preview.text=123%20456&preview.size=41&preview.text_type=custom */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rubik+Mono+One&display=swap');
.container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
    }

.number {
    /* font-family: 'Bangers', cursive; */
    font-family: 'Rubik Mono One', sans-serif;
    color: #FFFFFF;
    font-size: 28em;
    margin: 0 50px;
    }

.name {
    font-family: 'Rubik Mono One', sans-serif;
    color: #d7d7d7;
    font-size: 5em;
    margin: 0 50px;
    text-align: center;
    }

.time {
    font-family: 'Rubik Mono One', sans-serif;
    color: #FFFFFF;
    font-size: 10em;
    text-align: center;
    padding: 10px;
  }
